<html ng-app="racingFrogs">

<head>
    <meta charset="UTF-8">
    <title>Racing Frogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href = "app.css">

</head>

<body ng-controller="MainController as vm">
    
    <div class="container">
        <div class = "panel panel-primary">
            <div class = "panel-heading">Welcome to the Frog Races
            </div>
            <div class ="panel-body">
                <table class = "race-table" border = "1" style = "width: 100%">
                    <tr ng-repeat="frog in vm.frogList">
                        <td class = "laneNum">{{frog.laneNum}}</td>
                        <td class = "frogName">{{frog.name}}</td>
                        <td class = "raceLane">{{}}
                            <img class = "frogimg" style = "left: {{frog.posX}}%" src = "img/frog.jpeg" />
                        </td>
                        <td class = "finishLine">FINISH</td>
                    </tr>
                </table>
            </div>
            <div class = "panel-footer">
                <span class = "btn btn-success" ng-click = "vm.startRace()">Start Race!</span>
                <span class = "btn btn-warning" ng-click = "vm.reset()">Restart Race</span>
                <form ng-submit="vm.addFrogToList(vm.frogName)">Frog Name:
                    <button class = "btn btn-danger" type = "submit">Add A Frog</button>
                    <input type = "text" name = "frogname" placeholder = "Type a name here" ng-model = "vm.frogName">
                </form>
                <!--<button type = "submit">Submit</button>-->
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">Fun with Joe and Bob
            </div>
            <div class="panel-body">
                <p>Joe has {{vm.joe.cash}} dollars.
                </p>
                <p>Bob has {{vm.bob.cash}} dollars.
                </p>
                <p>The bank has {{vm.bank}} dollars.
                </p>
            </div>
            <div class = "panel-footer">
                <span class="btn btn-default" ng-click="vm.giveMoneyToJoe()">Give $10 to Joe</span>
                <span class="btn btn-default" ng-click="vm.receiveMoneyFromBob()">Receive $5 from Bob</span>
            </div>
        </div>
    </div>      
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.min.js"></script>
    <script src="app.js"></script>
    
</body>

</html>